html,
body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  background-color: #efefef; }

.main {
  align-content: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 100vh;
  height: 100vh;
  width: 100%; }
  @media only screen and (min-width: 601px) {
    .main {
      margin: 0 auto;
      width: 90vw; } }
  @media only screen and (min-width: 1201px) {
    .main {
      margin: 0 auto;
      width: 1200px; } }

.content {
  background-color: #fff;
  display: block;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  width: 100%; }

.header {
  background-color: #fff;
  display: block;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-bottom: 4rem; }

.header__box {
  height: 80px;
  margin: 0 auto;
  position: relative; }

.header__logo {
  display: inline-block;
  float: left;
  font-size: 3rem;
  left: 5%;
  line-height: 3rem;
  position: relative;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%); }
  .header__logo a {
    color: #262626; }

.header__mobile-nav-toggle {
  cursor: pointer;
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.2s;
  width: 32px;
  z-index: 99999; }
  @media screen and (min-width: 993px) {
    .header__mobile-nav-toggle {
      display: none; } }
  .header__mobile-nav-toggle span {
    background: #333;
    bottom: 0;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transition: background 0s 0.2s; }
    .header__mobile-nav-toggle span::before, .header__mobile-nav-toggle span::after {
      background-color: #333;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      transition-delay: 0.2s, 0s;
      transition-duration: 0.2s, 0.2s;
      width: 100%; }
    .header__mobile-nav-toggle span::before {
      top: -10px;
      transition-property: top, transform; }
    .header__mobile-nav-toggle span::after {
      bottom: -10px;
      transition-property: bottom, transform; }
  .header__mobile-nav-toggle.active span {
    background: none; }
    .header__mobile-nav-toggle.active span::before, .header__mobile-nav-toggle.active span::after {
      transition-delay: 0s, 0.2s; }
    .header__mobile-nav-toggle.active span::before {
      top: 0;
      transform: rotate(45deg); }
    .header__mobile-nav-toggle.active span::after {
      bottom: 0;
      transform: rotate(-45deg); }

.header__nav {
  background-color: #fafafa;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  display: block;
  overflow: hidden;
  position: absolute;
  transition: all 0.4s;
  width: 100%;
  z-index: 99998; }
  .header__nav.opened {
    max-height: 550px; }
  .header__nav.closed {
    max-height: 0; }
  @media only screen and (min-width: 993px) {
    .header__nav {
      background-color: transparent;
      box-shadow: none;
      float: right;
      height: 100%;
      max-height: 100% !important;
      position: relative;
      right: 5%;
      width: auto; } }
  .header__nav .header__nav__item {
    color: #333 !important;
    display: block;
    font-size: 2rem; }
    @media only screen and (min-width: 993px) {
      .header__nav .header__nav__item {
        display: block;
        height: 100%;
        line-height: 0;
        padding: 0 1em;
        text-align: center;
        text-decoration: none;
        transition: all 0.4s, border-bottom 0.1s; } }
    .header__nav .header__nav__item.active span {
      border-bottom: 2px solid #9e9e9e; }
    .header__nav .header__nav__item:hover span {
      border-bottom: 2px solid #9e9e9e; }
    .header__nav .header__nav__item span {
      border-bottom: 2px solid transparent;
      line-height: 80px;
      transition: border-bottom 0.2s;
      vertical-align: middle; }
  .header__nav ul {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0 auto;
    margin-top: 10%;
    padding: 2.35em 0 3em;
    text-align: center;
    width: 100%; }
    @media only screen and (min-width: 993px) {
      .header__nav ul {
        display: inline-block;
        height: 100%;
        margin: 0;
        padding: 0; } }
    .header__nav ul li {
      display: block;
      margin: 0; }
      @media only screen and (min-width: 993px) {
        .header__nav ul li {
          display: inline-block;
          height: 100%; } }

.portfolio-filter {
  padding: 5px;
  width: 100%; }
  .portfolio-filter a {
    color: #999;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 5px;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s; }
    .portfolio-filter a:before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 2px;
      background: #595959;
      transition: all 500ms; }
    @media only screen and (min-width: 601px) {
      .portfolio-filter a {
        font-size: 1.75rem; } }
  .portfolio-filter a.current {
    color: #595959;
    font-weight: bold; }
    .portfolio-filter a.current:before {
      width: 100%; }
  .portfolio-filter a:hover {
    color: black; }
  .portfolio-filter a:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0; }

.current {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.not-current {
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.portfolio-item-wrapper {
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  @media only screen and (min-width: 601px) {
    .portfolio-item-wrapper {
      -ms-flex: 0 0 33.3333%;
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }

.portfolio-item {
  margin: 1rem auto;
  max-width: 100vmin;
  position: relative; }
  .portfolio-item img {
    display: block;
    max-width: 100%;
    position: relative;
    transition: transform 0.4s; }

.portfolio-item__inner {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%; }

.portfolio-item:hover img {
  transform: translate3d(0, -1rem, 0) rotateZ(1deg) scale(1.1); }

.portfolio-item__caption {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 25%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: auto;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
  white-space: nowrap;
  width: 100%; }

.portfolio-item:hover .portfolio-item__caption {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.4s, opacity 0.1s; }

.portfolio-item__caption__left {
  display: flex;
  flex: 0 0 85%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 85%; }
  .portfolio-item__caption__left h4 {
    color: #fff;
    font-size: 1.85rem;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    vertical-align: middle; }
    @media only screen and (min-width: 601px) {
      .portfolio-item__caption__left h4 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 1201px) {
      .portfolio-item__caption__left h4 {
        font-size: 1.85rem; } }

.portfolio-item__caption__right {
  display: flex;
  flex: 0 0 15%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 15%; }
  .portfolio-item__caption__right a {
    border-radius: 2px;
    color: #fff;
    display: table-cell;
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle; }
    @media only screen and (min-width: 601px) {
      .portfolio-item__caption__right a {
        font-size: 1.2rem; } }
    @media only screen and (min-width: 993px) {
      .portfolio-item__caption__right a {
        font-size: 1.6rem; } }

.portfolio-title {
  border-bottom: 3px solid #222;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
  width: 50%; }
  .portfolio-title h3 {
    margin-top: 0; }

.portfolio-detail {
  border-bottom: 1px solid #efefef;
  margin-top: 3rem; }
  .portfolio-detail h3 {
    margin-top: 0; }

.social {
  text-align: center; }
  .social .social__item {
    border: 1px solid #666;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 2.8rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0.5rem 1rem;
    text-align: center;
    transition: all 0.2s;
    width: 5rem; }
    .social .social__item a {
      color: inherit; }
  .social .social__item:hover.social--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
    color: #fff; }
  .social .social__item:hover.social--github {
    background-color: #222;
    border-color: #222;
    color: #fff; }
  .social .social__item:hover.social--bitbucket {
    background-color: #205081;
    border-color: #205081;
    color: #fff; }
  .social .social__item:hover.social--twitter {
    background-color: #1DA1F3;
    border-color: #1DA1F3;
    color: #fff; }
  .social .social__item:hover.social--mail {
    background-color: #d2d2d2;
    border-color: #d2d2d2;
    color: #fff; }

.about__title {
  border-bottom: 1px solid #efefef;
  padding: 3rem 1rem 0.2rem 4rem; }
  .about__title h1 {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase; }

.about__content {
  padding: 3rem 1rem; }
  @media only screen and (min-width: 601px) {
    .about__content {
      padding: 3rem 4rem; } }
  .about__content h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin: 2rem 0 0;
    padding: 0;
    text-transform: uppercase; }
  .about__content h3 {
    color: #777;
    font-size: 2.2rem;
    margin: 0 0 3rem 0;
    text-transform: uppercase; }
  .about__content p {
    color: #999; }

.resume-button {
  padding-top: 3rem;
  text-align: center; }
  .resume-button a {
    background-color: #999;
    border: 0; }

.skills-list h1 {
  color: #999;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  text-align: center; }
.skills-list h4 {
  color: #666;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  text-transform: uppercase; }

.timeline {
  position: relative; }
  .timeline::before {
    background: #ededed;
    bottom: 0;
    content: '';
    height: 100%;
    left: 1.8rem;
    position: absolute;
    top: 0;
    width: 3px; }
  .timeline::after {
    background: #fff;
    border: 3px solid #efefef;
    border-radius: 50%;
    content: '\f12a';
    font: normal normal normal 2rem FontAwesome;
    height: 50px;
    left: -5px;
    line-height: 4.5rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px; }
  .timeline.experience::after {
    content: '\f0b1'; }
  .timeline.education::after {
    content: '\f19d'; }

.timeline__content {
  padding-top: 6rem;
  vertical-align: baseline; }

.timeline__item {
  margin-bottom: 1rem;
  padding-left: 5rem;
  padding-top: 2rem;
  position: relative; }
  .timeline__item::after {
    background: #cd5353;
    border: 3px solid #fff;
    border-radius: 50%;
    content: '';
    height: 21px;
    left: 9px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 21px; }
  .timeline__item p {
    font-size: 1.4rem; }

.timeline__item__header {
  margin-bottom: 0.5rem; }
  .timeline__item__header h4 {
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0; }
  .timeline__item__header h6 {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 0; }
    .timeline__item__header h6 span:first-child {
      padding-right: 1rem; }
    .timeline__item__header h6 span > i {
      color: #ccc; }

/*# sourceMappingURL=style.css.map */
