// Daniel Green's website structural SCSS.

// GENERAL
//--------------------------------------------------
html,
body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.main {
	align-content: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100%;
	width: 100%;
}

.content {
	flex: 1;
	// margin: 2rem auto;
	// width: 90%;
	margin: 0;
	width: 100%;


	@media only screen and (min-width: 601px) {
		width: 590px;
		margin: 2rem auto;
	}
	@media only screen and (min-width: 993px) {
		width: 970px;
		margin: 2rem auto;
	}
	@media only screen and (min-width: 1201px) {
		width: 1170px;
		margin: 2rem auto;
	}
}

// header
@import 'components/header';

// pages
@import 'pages/portfolio';
@import 'pages/about';
