// Table of Contents
//  - Generic
//  - Header
//  - About
//  - Portfolio


// Generic
// --------------------------------------------------
$background-color: #efefef;
$content-bg-color: #fff;


// Header
// --------------------------------------------------
$header-height: 80px;
$header-logo-size: 3rem;
$header-logo-color: #262626;
$header-nav-size: 2rem;
$header-border-color: rgba(0, 0, 0, 0.1);
$header-text-color: #333;
$header-bg-color: #fff;
$header-hilite-color: #9e9e9e;
$mobile-bg-color: #fafafa;
$mobile-nav-thickness: 2px;
$mobile-nav-distance: 10px;
$mobile-nav-time: 0.2s;
$mobile-nav-color: #333;
$mobile-nav-size: 32px;


// About
// --------------------------------------------------
$about-title-color: #333;
$about-title-border-color: #efefef;
$about-content-h3-color: #777;
$about-content-p-color: #999;
$about-skills-title-color: #999;
$about-skills-subtitle-color: #666;


// Portfolio
// --------------------------------------------------
$portfolio-filter-color: #999;
$portfolio-filter-active-color: #000;
$portfolio-caption-bg-color: #2d2d2d;
$portfolio-caption-color: #fff; //#ed4e6e;
