extends templates/layout

block append Variables
	- var Title = "Articles | Daniel Green";
	- var ActiveMenu = "Articles";

block PageContent
	div.ng-container.article
		h1 Articles

		h3.heading Maya Specific
		ul
			li: a(href="./articles/exporting-a-maya-light-radius.html") Exporting a Maya Light Radius/Range
			li: a(href="./articles/notes-on-implementing-maya-vp2-renderer.html") Notes on Implementing a Maya Viewport 2.0 Renderer Override
			li: a(href="./articles/modifying-maya-undo-queue.html") Modifying Maya's Undo Queue
			li: a(href="./articles/center-uvs-maya-python.html") Center UVs with Maya Python
			li: a(href="./articles/implementing-a-simple-maya-python-deformer.html") Implementing A Simple Maya Python Deformer
			li: a(href="./articles/python-and-json-with-maya.html") Python And JSON With Maya
			li: a(href="./articles/exporting-bezier-curves-from-maya.html") Exporting Bézier Curves From Maya
			li: a(href="./articles/converting-qt-ui-to-maya-python.html") Converting QT UI Files To Maya-Compatible Python

		h3.heading Graphics
		ul
			li: a(href="./articles/quick-n-easy-dual-cone-spotlights-glsl.html") Quick 'n' Easy Dual-Cone Spotlight in GLSL

		h3.heading Programming
		ul
			li: a(href="./articles/csharp-null-extensions.html") C# Null Extensions
			li: a(href="./articles/global-hotkeys-in-csharp.html") Global Hotkeys In C#
			li: a(href="./articles/illustrator-scripts.html") Illustrator Scripts
			li: a(href="./articles/unity-scripts.html") Unity Scripts
