extends templates/layout

block append Variables
	- var Title = "Articles | Daniel Green";
	- var ActiveMenu = "Articles";

block PageContent
	div.ng-container.article
		h1 Articles

		h3.heading Maya Specific
		ul
			li: a(href="./articles/exporting-a-maya-light-radius.html") Exporting a Maya Light Radius/Range
			li: a(href="./articles/notes-on-implementing-maya-vp2-renderer.html") Notes on Implementing a Maya Viewport 2.0 Renderer Override
			li: a(href="./articles/modifying-maya-undo-queue.html") Modifying Maya's Undo Queue
			li: a(href="./articles/center-uvs-maya-python.html") Center UVs with Maya Python
			li: a(href="#") Implementing A Simple Maya Python Deformer
			li: a(href="#") Python And JSON With Maya
			li: a(href="#") Exporting Bézier Curves From Maya
			li: a(href="#") Converting QT UI Files To Maya-Compatible Python

		h3.heading Graphics
		ul
			li Quick 'n' Easy Dual-Cone Spotlight in GLSL
			li Baking Details With Normal Maps

		h3.heading Programming
		ul
			li C# Null Extensions
			li Global Hotkeys In C#
			li Illustrator Scripts
			li Unity Scripts

		h3.heading General
		ul
			li Modern Art With Osu!
