.portfolio {
	max-width: 90rem;

	.portfolio-title {
		border-bottom: 1px solid $about-title-border-color;
		padding: 3rem 1rem 0.2rem 4rem;

		h1 {
			color: $about-title-color;
			font-size: 1.5rem;
			font-weight: bold;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}
	}

	@media #{$medium-and-up} {
		padding: 4rem 4.5rem;
	}

	figure {
		flex-grow: 0;
		height: $portfolio-width-mobile;
		line-height: $portfolio-width-mobile;
		margin: $portfolio-padding-mobile auto;
		padding: 0;
		position: relative;
		transition: all 0.6s;
		width: $portfolio-width-mobile;

		@media #{$medium-and-up} {
			height: $portfolio-width-small;
			line-height: $portfolio-width-small;
			margin: $portfolio-padding-small;
			width: $portfolio-width-small;
		}

		@media #{$large-and-up} {
			height: $portfolio-width-med;
			line-height: $portfolio-width-med;
			margin: $portfolio-padding-med;
			width: $portfolio-width-med;
		}

		@media #{$xlarge-and-up} {
			height: $portfolio-width-large;
			line-height: $portfolio-width-large;
			margin: $portfolio-padding-large;
			width: $portfolio-width-large;
		}

		&.current {
			// can make current elements stand out here
		}

		&.not-current {
			&::before {
				background-color: #fff;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				opacity: 0.7;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 99;
			}
		}

		.content {
			height: 100%;
			width: 100%;

			img {
				width: 100%;
			}
		}

		.overlay {
			background-color: $primary-color;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition: 0.3s all;
			width: 100%;

			a {
				color: #fff;
				display: block;
				font-size: 4rem;
				height: 100%;
				text-align: center;
				width: 100%;
			}
		}

		// expand overlay on hover (if not current)
		&:hover:not(.not-current) {
			.overlay {
				opacity: 0.95;
			}
		}
	}
}

.portfolio-filter {
	margin-top: 2rem;
	padding: 5px;
	text-align: center;
	width: 100%;

	a {
		color: $text-normal;
		display: inline-block;
		font-size: 1.3rem;
		margin: 0 10px;
		padding: 0 10px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.2s;

		&.current,
		&:hover {
			color: $primary-color;
		}

		@media #{$medium-and-up} {
			font-size: 1.75rem;
		}
	}

	a:last-child {
		border-right: 0;
		margin-right: 0;
		padding-right: 0;
	}
}
