.portfolio {
	padding: 2rem 0;

	@media only screen and(min-width: 601px) {
		padding: 4rem 4.5rem;
	}

	figure {
		flex-grow: 0;
		height: $portfolio-width-mobile;
		line-height: $portfolio-width-mobile;
		margin: $portfolio-padding-mobile auto;
		padding: 0;
		position: relative;
		transition: all 0.6s;
		width: $portfolio-width-mobile;

		@media only screen and (min-width: 601px) {
			height: $portfolio-width-small;
			line-height: $portfolio-width-small;
			margin: $portfolio-padding-small;
			width: $portfolio-width-small;
		}

		@media only screen and (min-width: 993px) {
			height: $portfolio-width-med;
			line-height: $portfolio-width-med;
			margin: $portfolio-padding-med;
			width: $portfolio-width-med;
		}

		@media only screen and (min-width: 1201px) {
			height: $portfolio-width-large;
			line-height: $portfolio-width-large;
			margin: $portfolio-padding-large;
			width: $portfolio-width-large;
		}

		&.current {
			backface-visibility: hidden;
			transform: scale(1.05);
		}

		&.not-current {
			filter: grayscale(1);
			transform: scale(0.75);
		}

		.content {
			height: 100%;
			width: 100%;

			img {
				width: 100%;
			}
		}

		.overlay {
			background-color: $portfolio-overlay-color;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition: 0.3s all;
			width: 100%;

			a {
				color: $text-normal;
				display: block;
				font-size: 4rem;
				height: 100%;
				text-align: center;
				width: 100%;
			}
		}

		// expand overlay on hover (if not current)
		&:hover:not(.not-current) {
			.overlay {
				opacity: 1;
			}
		}
	}
}

.portfolio-filter {
	padding: 5px;
	width: 100%;

	a {
		color: $text-normal;
		display: inline-block;
		font-size: 1.3rem;
		margin: 0 5px;
		padding: 0 5px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.5s;

		&::before {
			background: $text-dark;
			bottom: -3px;
			content: '';
			height: 2px;
			left: 0;
			position: absolute;
			transition: all 500ms;
			width: 0;
		}

		&.current {
			color: $text-dark;
			font-weight: bold;
			margin-bottom: 1em;

			&::before {
				width: 100%;
			}
		}

		&:hover {
			color: $text-darkest;
		}

		@media only screen and (min-width : 601px) {
			font-size: 1.75rem;
		}
	}

	a:last-child {
		border-right: 0;
		margin-right: 0;
		padding-right: 0;
	}
}
