html,
body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: $background-color;
}

.main {
	align-content: stretch;
	align-items: stretch;
	display: flex;
	flex: 1 0 auto; // bullshit for microsoft; just fix your browser already
	flex-direction: column;
	height: 100vh; // wtf microshaft; get your shit together
	margin: 0 auto;
	min-height: 100vh;
}

.page-content {
	background-color: $content-bg-color;
	display: block;
	flex: 1 1 auto; // take up remaining space
	-ms-flex-negative: 0;
	flex-shrink: 0;	// force no shrink
	margin: 0;
	padding: 0;
	padding-bottom: 4rem;
	width: 100%;
}

.preloader {
	align-items: center;
	background-color: $preloader-bg-color;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999999;

	.orbit {
		background-color: $preloader-orbit-color-a;
		border-radius: 50%;
		height: 10px;
		margin: 0 auto;
		position: relative;
		width: 10px;

		&::after, &::before {
			border-radius: 50%;
			content: '';
			height: 5px;
			position: absolute;
			width: 5px;
		}

		&::after {
			animation: preloader_axis 1s linear infinite;
			background-color: $preloader-orbit-color-b;
			left: -10px;
			top: -5px;
			transform-origin: 15px 10px;
		}

		&::before {
			animation: preloader_axis 2s linear infinite;
			background-color: $preloader-orbit-color-c;
			left: -25px;
			top: -15px;
			transform-origin: 30px 20px;
		}
	}
}
@keyframes preloader_axis {
	0% {
		transform: rotateZ(0deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotateZ(360deg) translate3d(0, 0, 0);
	}
}


// lazyload stuff
.lazyload,
.lazyloading {
	opacity: 0;
	transform: scale($lazyload-scale);
	transition: all $lazyload-time;
}
.lazyloaded {
	opacity: 1;
	transform: scale(1);
	transition: all $lazyload-time;
}
