html,
body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: $background-color;
}

.main {
	align-content: stretch;
	align-items: stretch;
	display: flex;
	flex: 1 0 auto; // bullshit for microsoft; just fix your browser already
	flex-direction: column;
	height: 100vh; // wtf microshaft; get your shit together
	margin: 0 auto;
	min-height: 100vh;
}

.page-content {
	background-color: $content-bg-color;
	display: block;
	flex: 1 1 auto; // take up remaining space
	-ms-flex-negative: 0;
	flex-shrink: 0;	// force no shrink
	margin: 0;
	margin-bottom: 4rem;
	padding: 0;
	width: 100%;
}
