// color scheme
$text-darkest: #222;
$text-dark: #333;
$text-normal: #6b6b6b;
$primary-color: #da5858;
$secondary-color: #8fbbbb;
$light-grey: #d9d9d9;
$lightest-grey: #999;

// header

// portfolio
$portfolio-overlay-color: rgba(255, 255, 255, 0.85);
$portfolio-padding-mobile: 2rem;
$portfolio-width-mobile: 240px;
$portfolio-padding-small: 1rem;
$portfolio-width-small: 170px;
$portfolio-padding-med: 1.5rem;
$portfolio-width-med: 200px;
$portfolio-padding-large: 2rem;
$portfolio-width-large: 220px;


// media queries
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$xlarge-and-up: "only screen and (min-width: #{$large-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";

// Generic
// --------------------------------------------------
$background-color: #efefef;
$content-bg-color: #fff;
$page-content-padding: 4rem;


// Preloader
// --------------------------------------------------
$preloader-bg-color: #12162b;
$preloader-orbit-color-a: #f8e71c;
$preloader-orbit-color-b: #c7c2a6;
$preloader-orbit-color-c: rgb(0, 155, 255);
$preloader-ring-color: rgba(255, 255, 255, 0.25);
$preloader-ring-thickness: 1px;
$preloader-a-size: 10px;
$preloader-b-size: 5px;


// Lazy Loading
// --------------------------------------------------
$lazyload-scale: 0.8;
$lazyload-time: 300ms;

// Header
// --------------------------------------------------
$header-height: 120px;
$header-height-mobile: 80px;
$header-nav-size: 2rem;
$header-border-color: rgba(0, 0, 0, 0.2);
$header-mobile-border-color: rgba(0, 0, 0, 0.5);
$header-text-color: #000;

$mobile-bg-color: #fafafa;
$mobile-nav-thickness: 2px;
$mobile-nav-distance: 10px;
$mobile-nav-time: 0.2s;
$mobile-nav-color: #333;
$mobile-nav-size: 32px;

$header-bg-color: #fff;
$header-hover-border-color: #C04E4E;//#BE3232;
$header-new-size: 60px;
$header-new-size-expanded: 80px;
$header-tag-width: 60px;
$header-tag-height: 35px;
$header-tag-height-expanded: 45px;



// About
// --------------------------------------------------
$about-title-color: #333;
$about-title-border-color: #efefef;
$about-content-h3-color: #777;
$about-content-p-color: #6B6B6B;
$about-skills-title-color: #6B6B6B;
$about-skills-subtitle-color: #666;
