extends ../templates/article

block append Variables
	- var Title = "Introduction to MEL Programming for Artists | Daniel Green";

block ArticleContent
	h3.title Introduction to MEL Programming for Artists

	p This series of slides provides an introduction to the world of MEL.  The intended audience is artists familiar with Maya, with no required previous programming experience.  The slides are designed to be presented as a workshop over five one hour sessions.  By the end of the course, students should feel comfortable with the basics of MEL.  Hopefully those involved will be inspired to continue with scripting after the conclusion of the workshop.

	p: strong Students
	p These slides are best experienced in a workshop.  If you are finding these online, they are still worth browsing.  Make sure to check the speaker notes on Google Slides for extra information.

	p: strong Teachers
	p I'd be humbled if anyone were to use these to host their own workshop.  If you do, please #[a(href="mailto:d@ngreen.org?subject=MEL Workshop") let me know].  Feel free to modify them to your own taste, too.  As always, credit is appreciated.  A brief read of the slides and speaker notes should be enough to be prepared to present.

	h3.heading Session 1
	p #[+ExternalLink("https://docs.google.com/presentation/d/1TX4yyvzhQbaK9bboQdEa3npe383hLuACJMK9iodopZs/edit?usp=sharing", "Google Slides link")]
	div.ng-video-container
		<iframe src="https://docs.google.com/presentation/d/1TX4yyvzhQbaK9bboQdEa3npe383hLuACJMK9iodopZs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

	h3.heading Session 2
	p #[+ExternalLink("https://docs.google.com/presentation/d/1QQbWIaG8APsh3iAh73m5EHiZO2FlDv-n4A11Tdc0vrU/edit?usp=sharing", "Google Slides link")]
	div.ng-video-container
		<iframe src="https://docs.google.com/presentation/d/1QQbWIaG8APsh3iAh73m5EHiZO2FlDv-n4A11Tdc0vrU/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

	h3.heading Session 3
	p #[+ExternalLink("https://docs.google.com/presentation/d/e/2PACX-1vQSFQP_KDR7JwGkUtHi57BKShtRZ9C_fB_juP3kdRhUg9rvkwqRJZVsfsUkcR_c_yMp6uKiKZS4cExC/pub?start=false&loop=false&delayms=3000", "Google Slides link")]
	p: strong Resources
	p #[+ExternalLink("https://drive.google.com/file/d/0B5E7dv5z5N5OVW05b2ZTVEJzUFk/view?usp=sharing", "RecursiveCubes.mel")]
	div.ng-video-container
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQSFQP_KDR7JwGkUtHi57BKShtRZ9C_fB_juP3kdRhUg9rvkwqRJZVsfsUkcR_c_yMp6uKiKZS4cExC/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

	h3.heading Session 4
	p: strong NOT YET DELIVERED.  WILL BE UPLOADED AFTER.

	h3.heading Session 5
	p: strong NOT YET DELIVERED.  WILL BE UPLOADED AFTER.
