.about {
}

.about__title {
	border-bottom: 1px solid $about-title-border-color;
	padding: 3rem 1rem .2rem 4rem;

	h1 {
		color: $about-title-color;
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}
}

.about__content {
	padding: 1rem 4rem;

	h1 {
		font-size: 2.8rem;
		font-weight: bold;
		margin: 2rem 0 0;
		padding: 0;
		text-transform: uppercase;
	}

	h3 {
		color: $about-content-h3-color;
		font-size: 2.2rem;
		margin: 0 0 3rem 0;
		text-transform: uppercase;
	}

	p {
		color: $about-content-p-color;
	}
}

.skills-list {
	h1 {
		color: $about-skills-title-color;
		font-size: 1.75rem;
		font-weight: 400;
		margin: 0;
		padding: 0;
		padding-top: 1rem;
	}

	h4 {
		color: $about-skills-subtitle-color;
		display: block;
		font-size: 1.5rem;
		margin-bottom: 0.2rem;
		margin-left: .5rem;
		text-transform: uppercase;
	}
}
