$portfolio-padding-mobile: 2rem;
$portfolio-width-mobile: 240px;
$portfolio-padding-small: 1rem;
$portfolio-width-small: 170px;
$portfolio-padding-med: 1.5rem;
$portfolio-width-med: 200px;
$portfolio-padding-large: 2rem;
$portfolio-width-large: 240px;

.portfolio {
	figure {
		display: block;
		margin: $portfolio-padding-mobile auto;
		width: $portfolio-width-mobile;
		height: $portfolio-width-mobile;
		background: #9d2e2c;
		line-height: $portfolio-width-mobile;
		-webkit-filter: sepia(0.4);
		filter: sepia(0.4);
		position: relative;
		padding: 0;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
		-webkit-transition: all 0.6s;
		-moz-transition: all 0.6s;
		-ms-transition: all 0.6s;
		transition: all 0.6s;

		@media only screen and (min-width: 601px) {
			display: inline-block;
			margin: $portfolio-padding-small;
			width: $portfolio-width-small;
			height: $portfolio-width-small;
			line-height: $portfolio-width-small;
		}

		@media only screen and (min-width: 993px) {
			display: inline-block;
			margin: $portfolio-padding-med;
			width: $portfolio-width-med;
			height: $portfolio-width-med;
			line-height: $portfolio-width-med;
		}

		@media only screen and (min-width: 1201px) {
			display: inline-block;
			margin: $portfolio-padding-large;
			width: $portfolio-width-large;
			height: $portfolio-width-large;
			line-height: $portfolio-width-large;
		}

		&.current {
			-webkit-filter: sepia(0);
			filter: sepia(0);

			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);

			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		&.not-current {
			-webkit-transform: scale(0.75);
			-moz-transform: scale(0.75);
			-ms-transform: scale(0.75);
			transform: scale(0.75);

			-webkit-filter: grayscale(1);
			filter: grayscale(1);
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.85);
			opacity: 0;
			-webkit-transition: 0.3s all;
			-moz-transition: 0.3s all;
			-ms-transition: 0.3s all;
			transition: 0.3s all;

			a {
				color: #666;
				font-size: 4rem;
				text-align: center;
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		// expand overlay on hover
		&:hover .overlay {
			opacity: 1;
		}

		// don't expand overlay if not current
		&:hover.not-current .overlay {
			opacity: 0;
		}
	}
}

.portfolio-filter {
	padding: 5px;
	width: 100%;

	a {
		color: #999;
		display: inline-block;
		font-size: 1.3rem;
		margin: 0 5px;
		padding: 0 5px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.5s;

		&:before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 0;
			height: 2px;
			background: rgb(89,89,89);
			transition: all 500ms;
		}

		@media only screen and (min-width : 601px) {
			font-size: 1.75rem;
		}
	}

	a.current {
		color: rgb(89,89,89);
		font-weight: bold;
		margin-bottom: 1em;

		&:before {
			width: 100%;
		}
	}

	a:hover {
		color: rgb(0, 0, 0);
	}

	a:last-child {
		border-right: 0;
		margin-right: 0;
		padding-right: 0;
	}
}
