.header {
	background-color: $header-bg-color;
	box-shadow: 0 0 2px $header-border-color;
	position: relative;
	display: block;

	.header__box {
		display: block;
		height: $header-height;
		padding-left: $header-padding;
		padding-right: $header-padding;
		width: 100%;
		position: relative;

		@media #{$medium-and-up} {
			display: inline-block;
			width: auto;
		}

		.header__logo {
			display: inline-block;
			height: $header-logo-scale;
			opacity: 1;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			transition: all $header-anim-time ease;

			img {
				height: 100%;
				position: relative;
				width: auto;
			}
		}

		.header__mobile-nav-toggle {
			cursor: pointer;
			display: block;
			float: right;
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			transition: background $header-anim-time;
			width: $mobile-burger-width;
			z-index: 99999;

			@media #{$medium-and-up} {
				display: none;
			}

			// internal span for burger lines
			span {
				background: $header-burger-color;
				bottom: 0;
				display: block;
				height: $header-burger-thickness;
				left: 0;
				position: absolute;
				right: 0;
				top: 50%;
				transition: background 0s $header-anim-time;

				// above and below burger lines
				&::before,
				&::after {
					background-color: $header-burger-color;
					content: '';
					display: block;
					height: $header-burger-thickness;
					left: 0;
					position: absolute;
					transition-delay: $header-anim-time, 0s;
					transition-duration: $header-anim-time, $header-anim-time;
					width: 100%;
				}

				// top burger line position
				&::before {
					top: -$header-burger-separation;
					transition-property: top, transform;
				}

				// bottom burger bar position
				&::after {
					bottom: -$header-burger-separation;
					transition-property: bottom, transform;
				}
			}
		}
	}

	.header__nav {
		overflow: hidden;
		margin: 0;
		padding: 0;
		display: block;
		width: 100%;
		font-size: 0;

		@media #{$medium-and-up} {
			display: inline-block;
			width: auto;
			position: relative;
			float: right;
			right: 4rem;
		}

		li {
			position: relative;
			float: none;
			width: 100%;

			@media #{$medium-and-up} {
				width: auto;
				display: inline-block;
			}
		}
	}

	.header__nav__item {
		color: $header-nav-color;
		cursor: default;
		display: block;
		font-size: 1.25rem;
		height: 0;
		line-height: $header-height-expanded;
		opacity: 0;
		text-align: center;
		text-decoration: none;
		transition: all $header-anim-time ease;

		@media #{$medium-and-up} {
			display: inline-block;
			height: $header-height;
			opacity: 1;
			cursor: pointer;
			line-height: $header-height;
			padding-right: 2rem;
			padding-left: 2rem;
		}

		&:hover,
		&.active {
			color: $header-nav-color-hover;
			background-color: $primary-color;
		}
	}

	&.active {
		.header__mobile-nav-toggle {
			span {
				background: none;

				// delay for the top and bottom burger bar animating their rotation
				&::before,
				&::after {
					transition-delay: 0s, $header-anim-time;
				}

				// active rotates top burger line down
				&::before {
					top: 0;
					transform: rotate(45deg);
				}

				// active rotates bottom burger line up
				&::after {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}

		.header__nav__item {
			cursor: pointer;
			height: $header-height-expanded;
			opacity: 1;

			@media #{$medium-and-up} {
				height: $header-height;
			}
		}
	}
}
