.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: $header-bg-color;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	display: block;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto; // only take up size required
	-ms-flex-negative: 0;
	flex-shrink: 0;	// force no shrink
}

// box to define size of header and align contents
.header__box {
	height: $header-height;
	margin: 0 auto;
	position: relative;
}

// logo and/or text
.header__logo {
	height: inherit;
	display: inline-block;
	float: left;
	left: 5%;
	position: relative;

	img {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
		height: 75%;
	}
}

// mobile nav wrapper
.header__mobile-nav-toggle {
	cursor: pointer;
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	transition: background $mobile-nav-time;
	width: $mobile-nav-size;
	z-index: 99999;

	@media screen and (min-width: 993px) {
		display: none;
	}

	// internal span for burger lines
	span {
		background: $mobile-nav-color;
		bottom: 0;
		display: block;
		height: $mobile-nav-thickness;
		left: 0;
		position: absolute;
		right: 0;
		top: 50%;
		transition: background 0s $mobile-nav-time;

		// above and below burger lines
		&::before,
		&::after {
			background-color: $mobile-nav-color;
			content: '';
			display: block;
			height: $mobile-nav-thickness;
			left: 0;
			position: absolute;
			transition-delay: $mobile-nav-time, 0s;
			transition-duration: $mobile-nav-time, $mobile-nav-time;
			width: 100%;
		}

		// top burger line position
		&::before {
			top: -$mobile-nav-distance;
			transition-property: top, transform;
		}

		// bottom burger bar position
		&::after {
			bottom: -$mobile-nav-distance;
			transition-property: bottom, transform;
		}
	}

	// active disables the middle burger line
	&.active span {
		background: none;

		// delay for the top and bottom burger bar animating their rotation
		&::before,
		&::after {
			transition-delay: 0s, $mobile-nav-time;
		}

		// active rotates top burger line down
		&::before {
			top: 0;
			transform: rotate(45deg);
		}

		// active rotates bottom burger line up
		&::after {
			bottom: 0;
			transform: rotate(-45deg);
		}
	}
}

// actual navbar element
.header__nav {
	background-color: $mobile-bg-color;
	box-shadow: 1px 1px 12px $header-border-color;
	display: block;
	overflow: hidden;
	position: absolute;
	transition: all 0.4s;
	width: 100%;
	z-index: 99998; // one less than header__mobile-nav-toggle

	&.opened {
		max-height: 550px;
	}

	&.closed {
		max-height: 0;
	}

	@media only screen and (min-width: 993px) {
		background-color: transparent;
		box-shadow: none;
		float: right;
		height: 100%;
		max-height: 100% !important;
		position: relative;
		right: 5%;
		width: auto;
	}

	.header__nav__item {
		color: $header-text-color !important;
		display: block;
		font-size: $header-nav-size;

		@media only screen and (min-width: 993px) {
			display: block;
			height: 100%;
			line-height: 0;
			padding: 0 1em;
			text-align: center;
			text-decoration: none;
			transition: all 0.4s, border-bottom 0.1s;
		}

		&.active, &:hover {
			color: #CD5C5C !important;
		}

		// text within the item
		span {
			line-height: $header-height;
			position: relative;
			vertical-align: middle;
		}
	}

	ul {
		display: block;
		font-size: 0; // fix spacing bug between elements
		list-style: none;
		margin: 0 auto;
		margin-top: 10%;
		padding: 2.35em 0 3em;
		text-align: center;
		width: 100%;

		@media only screen and (min-width: 993px) {
			display: inline-block;
			height: 100%;
			margin: 0;
			padding: 0;
		}

		li {
			display: block;
			margin: 0;

			@media only screen and (min-width: 993px) {
				display: inline-block;
				height: 100%;
			}
		} // li
	} // ul
}
