extends ../templates/article

block append Variables
	- var Title = "TA Showreel 2015 | Daniel Green";

block ArticleContent
	h3.title Tech Art Showreel 2015 AUG-DEC
	
	p This showreel demonstrates work developed at University from August to December of 2015. All elements were approached from a technical perspective. More information about each component can be found in my #[a(href="./portfolio_dl/showreel/k0099719-2d-tools-report.pdf") 2D] and #[a(href="./portfolio_dl/showreel/k0099719-3d-tools-report.pdf") 3D] reports.

	div.ng-video-container
		<iframe width="560" height="315" src="https://www.youtube.com/embed/OOxlz2oofNc?rel=0" frameborder="0" allowfullscreen></iframe>

	h3.heading Hatsune Miku Rig
	p A detailed rig of Hatsune Miku is displayed showcasing the various features as well as a facial rig. This was my first proper character rig.

	h3.heading M35 Mako
	p Vehicle modeling has never been a strong point, so I recreated the Mass Effect M35 Mako.

	h3.heading RegexReplacer
	p Renaming in Maya is quite basic. RegexReplacer showcases a tool that uses regular expressions to perform simple or complex renaming operations. RegexReplacer has its own #[a(href="./regexreplacer.html") project page].

	h3.heading nuketools
	p nuketools is a collection of various plug-ins and scripts for The Foundry's NUKE. More information can be found on #[a(href="./nuketools.html") nuketools'] page.

	h3.heading Space Scene
	p This is my very first attempt at a 2D/3D hybrid composition. It was developed using The Foundry's NUKE. It was originally inspired by Mass Effect's opening sequence, but quickly deviated into my own formula.
