extends ../templates/article

block append Variables
	- var Title = "3D Shooter | Daniel Green";

block ArticleContent
	h3.title 3D Shooter

	+LightboxImage("../img/portfolio/uni-shooter/gsd-ica.jpg")

	p For an assessment at university, we were tasked with creating a 3D game using Microsoft's XNA framework. After many iterations of various games, I settled on creating a firing range shooter. The focus was mainly on the weapon handling (e.g. aim down sights, recoil). My experience working with XNA has taught me how easy it is to hypothetically shoot yourself in the foot when you start to rely upon frameworks that are designed to be highly abstracted. This project especially taught me how important planning is, as I went through roughly six plans (ranging from flight sims to a Minecraft clone) until I ended up with the final product.

	h3.heading Download
	p Binaries can be downloaded #[a(href="./portfolio_dl/gsd-bin.zip") here].  You will need the #[+ExternalLink("http://www.microsoft.com/en-us/download/details.aspx?id=20914", "XNA 4 Runtime")].
